<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-12">
      <h2><%= post.socialMediaName %></h2>
      
      <div class="table-responsive">
        <table class="table table-hover ">
      
              <thead class="table-light">
                <th>วันที่ล่าสุด</th>
                <th>สถานะล่าสุด</th>
                <th>ชื่อ Social</th>
                <th>ลิงค์</th>
                <th>ชื่อ</th>
                <th>นามสกุล</th>
                <th>เลขประจำตัวฯ</th>
                <th>ประเด็น</th>
                <th>จำนวนหลัง</th>
                <th>ตำบล</th>
                <th>อำเภอ</th>
                <th>พิกัด map</th>
                <th>โฉนด</th>
                <th>ความน่าสนใจ</th>
                <th>ผู้โพส</th>
                <th>ลิงค์รูป</th>
              </thead>
    
         
              <tbody>
                <tr>
                  <td><%= post.updatedAt.toLocaleString("th-TH")%></td>
                  <td><%= post.state%></td>
                  <td><a class="link" href="/post/<%= post._id%>">
                    <%= post.socialMediaName%></td>
                  </a></td>
                  <td><%= post.link%></td>
                  <td><%= post.name%></td>
                  <td><%= post.lastName%></td>
                  <td><%= post.nid%></td>
                  <td><%= post.summary%></td>
                  <td><%= post.numberOfUnits%></td>
                  <td><%= post.tambon%></td>
                  <td><%= post.amphur%></td>
                  <td><%= post.mapPoint%></td>
                  <td><%= post.deed%></td>
                  <td><%= post.likes%></td>
                  <td><%= post.posterName%></td>
                  <td><%= post.imageLink%></td>
                </tr>
              <% for(let i=0; i <comments.length; i++) {%>
                <tr>
                  <td><%= comments[i].updatedAt.toLocaleString("th-TH")%></td>
                  <td><%= comments[i].state%></td>
                  <td><%= comments[i].socialMediaName%></td>
                  <td><%= comments[i].link%></td>
                  <td><%= comments[i].name%></td>
                  <td><%= comments[i].lastName%></td>
                  <td><%= comments[i].nid%></td>
                  <td><%= comments[i].summary%></td>
                  <td><%= comments[i].numberOfUnits%></td>
                  <td><%= comments[i].tambon%></td>
                  <td><%= comments[i].amphur%></td>
                  <td><%= comments[i].mapPoint%></td>
                  <td><%= comments[i].deed%></td>
                  <td><%= comments[i].likes%></td>
                  <td><%= comments[i].posterName%></td>
                  <td><%= comments[i].imageLink%></td>
                </tr>
              <%}%>
              </tbody>
          
    
        </table>
      </div> 
      
      <%if(post.user == user.id){ %>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#updateCollapse" aria-expanded="false" aria-controls="updateCollapse">
          Update
        </button>
       <div class="collapse" id="updateCollapse">
        <div class="card card-body">
          <form action="/post/updatePost/<%= post.id %>?_method=PUT" enctype="application/x-www-form-urlencoded" method="POST">
            <div class="row mt-3">
    
              <div class="mb-2 col-2">
                  <label for="state" class="form-label">การดำเนินการล่าสุด *</label>
    
                  <select name="state" class="form-control" id="state">
                    <option value="">--โปรดเลือก 1 ข้อ--</option>
                    <option value="ค้นหา">ค้นหา</option>
                    <option value="ค้นแล้วไม่มีประเด็น">ค้นแล้วไม่มีประเด็น</option>
                    <option value="รวบรวมข้อมูล">รวบรวมข้อมูล</option>
                    <option value="พร้อมส่ง">พร้อมส่ง</option>
                    <option value="ส่งให้ทีมแล้ว">ส่งให้ทีมแล้ว</option>
                    <option value="ทีมทำแล้ว">ทีมทำแล้ว</option>
                  </select>
    
              </div>
    
              <div class="mb-2 col-5">
                <label for="socialMediaName" class="form-label">ชื่อ Social *</label>
                <input type="text" class="form-control" id="socialMediaName" name="socialMediaName" value="<%= post.socialMediaName%>">
              </div>
              <div class="mb-2 col-5">
                <label for="link" class="form-label">ลิงค์ *</label>
                <input type="text" class="form-control" id="link" name="link" value="<%= post.link%>">
              </div>
    
            </div>  
    
            <div class="row">
    
              <div class="mb-2 col">
                <label for="name" class="form-label">ชื่อ *</label>
                <input type="text" class="form-control" id="name" name="name" value="<%= post.name%>">
              </div>
              <div class="mb-2 col">
                <label for="lastName" class="form-label">นามสกุล</label>
                <input type="text" class="form-control" id="lastName" name="lastName" value="<%= post.lastName%>">
              </div>
              <div class="mb-2 col">
                <label for="nid" class="form-label">เลขประจำตัวฯ</label>
                <input type="text" class="form-control" id="nid" name="nid" value="<%= post.nid%>">
              </div>
    
            </div>
            <div class="mt-2 mb-4">
              <label for="summary" class="form-label">สรุปประเด็น *</label>
              <textarea class="form-control" id="summary" name="summary"><%= post.summary%></textarea>
            </div>
    
            <div class="row">
              <div class="mb-2 col">
                <label for="numberOfUnits" class="form-label">จำนวนแปลง/หลัง</label>
                <input type="text" class="form-control" id="numberOfUnits" name="numberOfUnits" value="<%= post.numberOfUnits%>">
              </div>
              <div class="mb-2 col">
                <label for="tambon" class="form-label">ตำบล *</label>
                <input type="text" class="form-control" id="tambon" name="tambon" value="<%= post.tambon%>">
              </div>
              <div class="mb-2 col">
                <label for="amphur" class="form-label">อำเภอ *</label>
                <input type="text" class="form-control" id="amphur" name="amphur" value="<%= post.amphur%>">
              </div>
              <div class="mb-2 col">
                <label for="mapPoint" class="form-label">พิกัด</label>
                <input type="text" class="form-control" id="mapPoint" name="mapPoint" value="<%= post.mapPoint%>">
              </div>
    
            </div>
            <div class="row">
              <div class="mb-2 col">
                <label for="deed" class="form-label">เลขที่โฉนด</label>
                <input type="text" class="form-control" id="deed" name="deed" value="<%= post.deed%>">
              </div>
              <div class="mb-2 col">
                <label for="imageLink" class="form-label">ลิงค์รูปภาพ</label>
                <input type="text" class="form-control" id="imageLink" name="imageLink" value="<%= post.imageLink%>">
              </div>
    
    
              
            </div>
    
            <button type="submit" class="btn btn-primary" value="Upload">Confirm Update</button>
          </form>


        </div>
       </div>
     
      <%} else {%>
          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#commentCollapse" aria-expanded="false" aria-controls="commentCollapse">
            Comment
          </button>
        <div class="collapse" id="commentCollapse">
          <div class="card card-body">
            <form action="/comment/createComment/<%= post.id %>" enctype="application/x-www-form-urlencoded" method="POST">
              <div class="row mt-3">
      
                <div class="mb-2 col-2">
                    <label for="state" class="form-label">การดำเนินการล่าสุด *</label>
      
                    <select name="state" class="form-control" id="state">
                      <option value="">--โปรดเลือก 1 ข้อ--</option>
                      <option value="ค้นหา">ค้นหา</option>
                      <option value="ค้นแล้วไม่มีประเด็น">ค้นแล้วไม่มีประเด็น</option>
                      <option value="รวบรวมข้อมูล">รวบรวมข้อมูล</option>
                      <option value="พร้อมส่ง">พร้อมส่ง</option>
                      <option value="ส่งให้ทีมแล้ว">ส่งให้ทีมแล้ว</option>
                      <option value="ทีมทำแล้ว">ทีมทำแล้ว</option>
                    </select>
      
                </div>
      
                <div class="mb-2 col-5">
                  <label for="socialMediaName" class="form-label">ชื่อ Social *</label>
                  <input type="text" class="form-control" id="socialMediaName" name="socialMediaName" value="<%= post.socialMediaName%>">
                </div>
                <div class="mb-2 col-5">
                  <label for="link" class="form-label">ลิงค์ *</label>
                  <input type="text" class="form-control" id="link" name="link" value="<%= post.link%>">
                </div>
      
              </div>  
      
              <div class="row">
      
                <div class="mb-2 col">
                  <label for="name" class="form-label">ชื่อ *</label>
                  <input type="text" class="form-control" id="name" name="name" value="<%= post.name%>">
                </div>
                <div class="mb-2 col">
                  <label for="lastName" class="form-label">นามสกุล</label>
                  <input type="text" class="form-control" id="lastName" name="lastName" value="<%= post.lastName%>">
                </div>
                <div class="mb-2 col">
                  <label for="nid" class="form-label">เลขประจำตัวฯ</label>
                  <input type="text" class="form-control" id="nid" name="nid" value="<%= post.nid%>">
                </div>
      
              </div>
              <div class="mt-2 mb-4">
                <label for="summary" class="form-label">สรุปประเด็น *</label>
                <textarea class="form-control" id="summary" name="summary"><%= post.summary%></textarea>
              </div>
      
              <div class="row">
                <div class="mb-2 col">
                  <label for="numberOfUnits" class="form-label">จำนวนแปลง/หลัง</label>
                  <input type="text" class="form-control" id="numberOfUnits" name="numberOfUnits" value="<%= post.numberOfUnits%>">
                </div>
                <div class="mb-2 col">
                  <label for="tambon" class="form-label">ตำบล *</label>
                  <input type="text" class="form-control" id="tambon" name="tambon" value="<%= post.tambon%>">
                </div>
                <div class="mb-2 col">
                  <label for="amphur" class="form-label">อำเภอ *</label>
                  <input type="text" class="form-control" id="amphur" name="amphur" value="<%= post.amphur%>">
                </div>
                <div class="mb-2 col">
                  <label for="mapPoint" class="form-label">พิกัด</label>
                  <input type="text" class="form-control" id="mapPoint" name="mapPoint" value="<%= post.mapPoint%>">
                </div>
      
              </div>
              <div class="row">
                <div class="mb-2 col">
                  <label for="deed" class="form-label">เลขที่โฉนด</label>
                  <input type="text" class="form-control" id="deed" name="deed" value="<%= post.deed%>">
                </div>
                <div class="mb-2 col">
                  <label for="imageLink" class="form-label">ลิงค์รูปภาพ</label>
                  <input type="text" class="form-control" id="imageLink" name="imageLink" value="<%= post.imageLink%>">
                </div>
      
      
                
              </div>
      
              <button type="submit" class="btn btn-primary" value="Upload">Create Comment</button>
            </form>


          </div>
        </div>
      <%}%>
      <div class="row justify-content-between mt-3">
        <form
          class="col-1"
          action="/post/likePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
          <button class="btn btn-primary fa fa-heart" type="submit"></button>
        </form>
        <h3 class="col-3">Likes: <%= post.likes %></h3>
        <%if(post.user == user.id){ %>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>
      </div>
    </div>

    <div class="col-3 mt-5">
      <p><%= post.caption %></p>
    </div>
    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
