<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-10">

        <div class="mb-5">
            <p><strong>User Name</strong>: <%= user.userName %></p>
            <p><strong>Email</strong>: <%= user.email %></p>
            <a href="/logout" class="col-3 btn btn-primary">Logout</a>
        </div>
        
      
          <h2>Add an entrepreneur</h2>
        

            <form action="/post/createPost" enctype="application/x-www-form-urlencoded" method="POST">
              <div class="row mt-3">

                <div class="mb-2 col-2">
                    <label for="state" class="form-label">การดำเนินการล่าสุด *</label>

                    <select name="state" class="form-control" id="state">
                      <option value="">--โปรดเลือก 1 ข้อ--</option>
                      <option value="ค้นหา">ค้นหา</option>
                      <option value="ค้นแล้วไม่มีประเด็น">ค้นแล้วไม่มีประเด็น</option>
                      <option value="รวบรวมข้อมูล">รวบรวมข้อมูล</option>
                      <option value="พร้อมส่ง">พร้อมส่ง</option>
                      <option value="ส่งให้ทีมแล้ว">ส่งให้ทีมแล้ว</option>
                      <option value="ทีมทำแล้ว">ทีมทำแล้ว</option>
                    </select>

                </div>
  
                <div class="mb-2 col-5">
                  <label for="socialMediaName" class="form-label">ชื่อ Social *</label>
                  <input type="text" class="form-control" id="socialMediaName" name="socialMediaName">
                </div>
                <div class="mb-2 col-5">
                  <label for="link" class="form-label">ลิงค์ *</label>
                  <input type="text" class="form-control" id="link" name="link">
                </div>

              </div>  

              <div class="row">

                <div class="mb-2 col">
                  <label for="name" class="form-label">ชื่อ *</label>
                  <input type="text" class="form-control" id="name" name="name">
                </div>
                <div class="mb-2 col">
                  <label for="lastName" class="form-label">นามสกุล</label>
                  <input type="text" class="form-control" id="lastName" name="lastName">
                </div>
                <div class="mb-2 col">
                  <label for="nid" class="form-label">เลขประจำตัวฯ</label>
                  <input type="text" class="form-control" id="nid" name="nid">
                </div>

              </div>
              <div class="mt-2 mb-4">
                <label for="summary" class="form-label">สรุปประเด็น *</label>
                <textarea class="form-control" id="summary" name="summary"></textarea>
              </div>

              <div class="row">
                <div class="mb-2 col">
                  <label for="numberOfUnits" class="form-label">จำนวนแปลง/หลัง</label>
                  <input type="text" class="form-control" id="numberOfUnits" name="numberOfUnits">
                </div>
                <div class="mb-2 col">
                  <label for="tambon" class="form-label">ตำบล *</label>
                  <input type="text" class="form-control" id="tambon" name="tambon">
                </div>
                <div class="mb-2 col">
                  <label for="amphur" class="form-label">อำเภอ *</label>
                  <input type="text" class="form-control" id="amphur" name="amphur">
                </div>
                <div class="mb-2 col">
                  <label for="mapPoint" class="form-label">พิกัด</label>
                  <input type="text" class="form-control" id="mapPoint" name="mapPoint">
                </div>

              </div>
              <div class="row">
                <div class="mb-2 col">
                  <label for="deed" class="form-label">เลขที่โฉนด</label>
                  <input type="text" class="form-control" id="deed" name="deed">
                </div>
                <div class="mb-2 col">
                  <label for="imageLink" class="form-label">ลิงค์รูปภาพ</label>
                  <input type="text" class="form-control" id="imageLink" name="imageLink">
                </div>


                
              </div>

              <button type="submit" class="btn btn-accent" value="Upload">Submit</button>
            </form>
      
      </div>

    <div class="table-responsive mt-3">
      <%- include('partials/table', {posts: posts}) -%> 
    </div> 

      
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>  

    </div>
  </div>
</div>
<%- include('partials/footer') -%>